extends layouts/login-layout.pug

block content  
    .loginContainer 
        h2 Connectez-vous! 
        form(method="post") 
            input(type="text", name="logUsername", placeholder="nom d'utilisateur ou email", required="")
            input(type="password", name="password", placeholder="mot de passe", required="")
            input(type="submit", value="Connexion")
        a(href="/register") Pas encore inscrtit(e)? Créez un compte ici